body {
  background: #f9f9f9;
}

.login-box {
  margin: 0 auto;
  margin-top: 100px;
  width: 200px;
  border: 1px solid #d8dee2;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.login-box .btn {
  text-decoration: none;
  color: white;
}
